<div class="d-flex justify-content-around mt-5">
  <a routerLink=""><button type="button" class="btn btn-none btn-lg " (click)="activeClick()" id="act">All</button></a>
  <a routerLink="active"> <button type="button" class="btn btn-none btn-lg" (click)="activeClick()" >Active</button></a>
    <a routerLink="completed"><button type="button" class="btn btn-none btn-lg" (click)="completedClick()">Completed</button></a>
</div>
<div id="line">
  <hr style="width:73%;text-align:center; color: #BDBDBD" >
</div>
